@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import "tailwindcss";

html {
    background-color: var(--color-slate-900);
}

@theme {
    /*--color-gray-900: #202225;*/
    --font-gluten:'Gluten', cursive;
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center
        h-12 w-12 mt-2 mx-auto shadow-lg bg-gray-800
        text-green-500 hover:bg-green-600 hover:text-white
        rounded-3xl hover:rounded-xl transition-all duration-250 
        ease-in-out cursor-default hover:cursor-pointer;   
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
        rounded-md shadow-md text-white bg-gray-900
        text-xs font-bold transition-all duration-100 scale-0 origin-left;
    }

    .main-nav-link {
        @apply  flex px-4 items-center rounded-lg bg-none hover:bg-slate-700 
        hover:cursor-pointer transition-all duration-200 ease-out;
    }

    .recipe-menu-dropdown {
        @apply flex flex-col sm:flex sm:flex-row sm:p-5 gap-5 sm:gap-8
         rounded-lg 
        sm:bg-slate-800 sm:border-slate-700 sm:border-[1.5px];
    }


    .btn-primary {
        @apply flex items-center justify-center h-full min-h-10 px-4 rounded-lg bg-green-300/25 border-[1.5px]
         border-green-300/25 text-green-300/75 font-medium cursor-pointer
          hover:bg-green-300 hover:text-black transition-all duration-300 ease-out disabled:bg-slate-700 
          disabled:border-0 disabled:text-gray-500 disabled:cursor-default;
    }

    h1 {
        @apply text-white/15 text-2xl;
    }

    .label-input {
        @apply block mb-2 sm:text-sm;
    }

    .input-default {
        @apply w-full min-h-12 rounded-md bg-slate-700 px-4 py-2 sm:text-sm outline-none;
    }

    .input-focus {
        @apply focus:ring-2 focus:ring-green-400;
    }

    .input-error {
        @apply ring-2 ring-red-400;
    }

}