@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --color-outline: #eef0f5;
    --color-page-bg: #F9FAFB;
    --color-card-bg: #fff;

    --color-text-primary:#323232;
    --color-text-secondary: #6B7280;

    --color-primary: #3ca44c;
    --color-primary-dark: #238332;
    --color-primary-light: #DCFCE7;

}

html, body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color: var(--color-text);
  background-color: var(--color-page-bg);
}

a, button {
    cursor: pointer;
}

@theme {
    --font-gluten:'Gluten', cursive;
    --shadow-card: 0 8px 16px 0 rgba(0,0,0,0.05);

    --color-primary: var(--color-primary);
    --color-primary-dark: var(--color-primary-dark);
    --color-primary-light: var(--color-primary-light);

    --color-text-primary: var(--color-text-primary);
    --color-text-secondary: var(--color-text-secondary);
}

@layer components {
    .main-nav-link {
        @apply  flex font-medium min-h-12 px-4 items-center hover:text-white rounded-lg 
        bg-none hover:bg-[var(--color-primary)]
         transition-all duration-250 ease-out;
    }

    .recipe-menu-dropdown {
        @apply flex flex-col sm:flex sm:flex-row sm:p-5 gap-5 sm:gap-8
         rounded-lg sm:bg-slate-800 sm:border-slate-700 sm:border-[1.5px];
    }


    .btn-primary {
        @apply flex items-center justify-center min-h-10 gap-1 rounded-xl 
                bg-[var(--color-primary)] text-white px-5 py-2 
                hover:bg-[var(--color-primary-dark)] hover:cursor-pointer transition-all ease-out duration-300 disabled:bg-slate-700 
          disabled:border-0 disabled:text-gray-500 disabled:!cursor-default;
    }

    .btn-secondary {
        @apply flex items-center gap-2 px-4 h-10 rounded-lg
        justify-center bg-primary-light
                text-primary
                hover:bg-primary
                hover:text-white
                transition duration-250 ease-out
    }

    .btn-destructive-primary {
        @apply flex items-center justify-center h-10 px-4 
          rounded-lg border border-slate-500 
          hover:bg-gray-200/75 hover:border-gray-200/75 
          disabled:text-gray-500 disabled:cursor-default
          transition-all duration-250 ease-out;
    }

    .btn-destructive-secondary {
        @apply flex items-center justify-center h-full min-h-10 sm:min-h-auto px-4 rounded-lg
          text-slate-400 font-medium hover:bg-red-500/25
           hover:text-red-400 transition-all duration-300 ease-out disabled:bg-slate-700 
          disabled:border-0 disabled:text-gray-500 disabled:cursor-default;
    }

    .label-input {
        @apply block mb-2 sm:text-sm text-text-secondary;
    }

    .input-default {
        @apply w-full min-h-12 rounded-md text-text-primary bg-gray-100 px-4 py-2 sm:text-sm outline-none focus-visible:outline-gray-700;
    }

    .input-focus {
        @apply focus:ring-[1.5px] focus:bg-white focus:ring-primary;
    }

    .input-error {
        @apply ring-2 ring-red-400;
    }

}